/*------ Fonts --------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,400;1,700&display=swap');

/* Common styles */
body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

}

button{
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: 
    #E02C6D;
    color: white;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
button:hover{
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: 
    blueviolet;
    color: white;
    transform: rotate(360deg);
}

/* nav style */
.menu{
    display: flex;
    justify-content:flex-end;
}


ul>li{
    list-style: none;
}

li>a{
    text-decoration: none;
    padding-left: 20px;
}
/* ***********##########*********** */
/* popular section  */

/* Use grid  */

.popular-collections{
    width: 80%;
}
.collection-container{
    background-color: brown;
    width: 80%;

}